$main-color: #283144;
$secondary-light: #414a60;
$type-face: #bfbccbff;
$secondary-dark: #2A7F62;
$main-twin: #373F51;
$border-color: #95A3B3;


$title-color: #dad4d4;
$title-stroke: #0A122A;

$tag-color: #C14953;

$epidose-button-text-color: #f6f8fa;


$xl: 87.5em; // 4k and hi-res desktop
$lg: 60em; // 1080 and hi-res laptops
$med: 40em; // hi-res tablets and low-res laptops
$sm: 28em; // mobile and low-res tablets
$xs: 20em; // mobile only

@mixin responsive($query) {
  @media (min-width: $query) {
    @content;
  }
}

@mixin transition($x) {
  transition: $x;
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
}

* {
  margin: 0;
  text-decoration: none;
  padding: 0;
  font-family: WorkSans, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;

  a, a:visited, p, a, h1, h2, h3, h4, h5, h6 {
    color: $type-face;
  }
}




