/* Coolors Exported Palette - https://coolors.co/1b998b-ed217c-2d3047-fffd82-ff9b71 */

/* CSS HEX */
--persian-green: #1b998bff;
--flickr-pink: #ed217cff;
--space-cadet: #2d3047ff;
--canary: #fffd82ff;
--light-salmon: #ff9b71ff;

/* CSS HSL */
--persian-green: hsla(173, 70%, 35%, 1);
--flickr-pink: hsla(333, 85%, 53%, 1);
--space-cadet: hsla(233, 22%, 23%, 1);
--canary: hsla(59, 100%, 75%, 1);
--light-salmon: hsla(18, 100%, 72%, 1);

/* SCSS HEX */
$persian-green: #1b998bff;
$flickr-pink: #ed217cff;
$space-cadet: #2d3047ff;
$canary: #fffd82ff;
$light-salmon: #ff9b71ff;

/* SCSS HSL */
$persian-green: hsla(173, 70%, 35%, 1);
$flickr-pink: hsla(333, 85%, 53%, 1);
$space-cadet: hsla(233, 22%, 23%, 1);
$canary: hsla(59, 100%, 75%, 1);
$light-salmon: hsla(18, 100%, 72%, 1);

/* SCSS RGB */
$persian-green: rgba(27, 153, 139, 1);
$flickr-pink: rgba(237, 33, 124, 1);
$space-cadet: rgba(45, 48, 71, 1);
$canary: rgba(255, 253, 130, 1);
$light-salmon: rgba(255, 155, 113, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1b998bff, #ed217cff, #2d3047ff, #fffd82ff, #ff9b71ff);
$gradient-right: linear-gradient(90deg, #1b998bff, #ed217cff, #2d3047ff, #fffd82ff, #ff9b71ff);
$gradient-bottom: linear-gradient(180deg, #1b998bff, #ed217cff, #2d3047ff, #fffd82ff, #ff9b71ff);
$gradient-left: linear-gradient(270deg, #1b998bff, #ed217cff, #2d3047ff, #fffd82ff, #ff9b71ff);
$gradient-top-right: linear-gradient(45deg, #1b998bff, #ed217cff, #2d3047ff, #fffd82ff, #ff9b71ff);
$gradient-bottom-right: linear-gradient(135deg, #1b998bff, #ed217cff, #2d3047ff, #fffd82ff, #ff9b71ff);
$gradient-top-left: linear-gradient(225deg, #1b998bff, #ed217cff, #2d3047ff, #fffd82ff, #ff9b71ff);
$gradient-bottom-left: linear-gradient(315deg, #1b998bff, #ed217cff, #2d3047ff, #fffd82ff, #ff9b71ff);
$gradient-radial: radial-gradient(#1b998bff, #ed217cff, #2d3047ff, #fffd82ff, #ff9b71ff);