/* Coolors Exported Palette - https://coolors.co/8ab0ab-3e505b-26413c-1a1d1a-03120e */

/* CSS HEX */
--morning-blue: #8ab0abff;
--charcoal: #3e505bff;
--msu-green: #26413cff;
--eerie-black: #1a1d1aff;
--dark-jungle-green: #03120eff;

/* CSS HSL */
--morning-blue: hsla(172, 19%, 62%, 1);
--charcoal: hsla(203, 19%, 30%, 1);
--msu-green: hsla(169, 26%, 20%, 1);
--eerie-black: hsla(120, 5%, 11%, 1);
--dark-jungle-green: hsla(164, 71%, 4%, 1);

/* SCSS HEX */
$morning-blue: #8ab0abff;
$charcoal: #3e505bff;
$msu-green: #26413cff;
$eerie-black: #1a1d1aff;
$dark-jungle-green: #03120eff;

/* SCSS HSL */
$morning-blue: hsla(172, 19%, 62%, 1);
$charcoal: hsla(203, 19%, 30%, 1);
$msu-green: hsla(169, 26%, 20%, 1);
$eerie-black: hsla(120, 5%, 11%, 1);
$dark-jungle-green: hsla(164, 71%, 4%, 1);

/* SCSS RGB */
$morning-blue: rgba(138, 176, 171, 1);
$charcoal: rgba(62, 80, 91, 1);
$msu-green: rgba(38, 65, 60, 1);
$eerie-black: rgba(26, 29, 26, 1);
$dark-jungle-green: rgba(3, 18, 14, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #8ab0abff, #3e505bff, #26413cff, #1a1d1aff, #03120eff);
$gradient-right: linear-gradient(90deg, #8ab0abff, #3e505bff, #26413cff, #1a1d1aff, #03120eff);
$gradient-bottom: linear-gradient(180deg, #8ab0abff, #3e505bff, #26413cff, #1a1d1aff, #03120eff);
$gradient-left: linear-gradient(270deg, #8ab0abff, #3e505bff, #26413cff, #1a1d1aff, #03120eff);
$gradient-top-right: linear-gradient(45deg, #8ab0abff, #3e505bff, #26413cff, #1a1d1aff, #03120eff);
$gradient-bottom-right: linear-gradient(135deg, #8ab0abff, #3e505bff, #26413cff, #1a1d1aff, #03120eff);
$gradient-top-left: linear-gradient(225deg, #8ab0abff, #3e505bff, #26413cff, #1a1d1aff, #03120eff);
$gradient-bottom-left: linear-gradient(315deg, #8ab0abff, #3e505bff, #26413cff, #1a1d1aff, #03120eff);
$gradient-radial: radial-gradient(#8ab0abff, #3e505bff, #26413cff, #1a1d1aff, #03120eff);